.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    background-color: #111827;
    color: #fff;
    height: 100vh;
}

.main-ligth {
    position: relative;
    background-color: rgb(233, 233, 233);
    color: black;
    height: 100vh;
}

.btn-outline-primary {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(0, 0, 0, 0) !important;
}

.dark-icon {
    width: 25px;
    height: 25px;
}

.btns {
    position: fixed;
}

.ligth-icon {
    width: 25px;
    height: 25px;
    color: #111827;
}

.btn-outline-primary:hover {
    background-color: unset;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dark {
    top: 10px;
    right: 10px;
    width: 100%;
    position: absolute;
}

.hero {
    margin: 0 1rem;
}

ion-icon {
    width: 40px;
    height: 40px;
}

.ic-button {
    width: 20px;
    height: 20px;
}

img {
    border-radius: 50%;
    border: 10px solid #a2af5f;
    padding: 10px;
    object-fit: cover;
    background-clip: content-box;
    height: 250px;
    width: 250px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 32pt;
    color: #a2af5f;
    font-weight: 600;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18pt;
    padding: auto;
    font-weight: 400;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20pt;
    font-weight: 400;
}

.button {
    margin-bottom: 1rem;
    color: #fff;
    background-color: #53635d69;
    border-radius: 25px;
}

.button-light {
    margin-bottom: 1rem;
    color: #111827;
    background-color: #53635d69;
    border-radius: 25px;
}

fa-icon {
    font-size: 45px;
    object-fit: cover;
    text-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

a:hover {
    transform: scale(1.2);
}

a {
    margin: 0 5px;
}

.button:hover {
    transform: scale(1.2);
}


/*  */

@media screen and (max-width:480px) {
    .all {
        display: block;
        height: auto;
    }
    .hero {
        margin: 0 0;
        padding: 1rem 0;
    }
    img {
        border-radius: 50%;
        border: 5px solid #a2af5f;
        padding: 5px;
        object-fit: cover;
        background-clip: content-box;
        height: 150px;
        width: 150px;
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
    }
    h1 {
        font-family: 'Fira Sans', sans-serif;
        margin-top: 1rem;
        font-size: 28pt;
        color: #a2af5f;
    }
    h2 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 16pt;
        align-items: center;
    }
    h3 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 12pt;
        align-items: center;
    }
    .fill {
        height: 60px
    }
}