<div class="{{_mode.bgClass}}">

    <div class="dark d-flex flex-row-reverse">
        <div class="btns">
            <button type="button" class="btn btn-outline-primary" (click)="clickmode()">
                <ion-icon name="{{_mode.mode_icon}}" class="{{_mode.iconClass}}"></ion-icon>
            </button>
        </div>
    </div>

    <div class="content">
        <div class="all">
            <div class="hero text-center">
                <img class="rounded-circle bg-white col justify-content-end" src="assets/LINE_ALBUM_211017.jpg">
            </div>

            <div class="gap-3 text-center hero">
                <h1>{{title}}</h1>
                <h2>{{my}}</h2>
                <h3>{{name}}</h3>

                <div class="text-center">
                    <button mat-raised-button class="{{_mode.fontButtom}}" [routerLink]="['/aboutme']">
                        About me.
                        <ion-icon name="chevron-forward-circle-outline" class="ic-button"></ion-icon>
                    </button>
                </div>

                <div class="gap-3 w-100">
                    <a href="https://www.facebook.com/jeniphan.pukkham">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="https://github.com/Jeniphan">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/jetniphan-pukkham-957671212/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>