<ng-particles [id]="id" [options]="particles" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)">
</ng-particles>

<div class="h-100 row align-items-center">
    <div class="col">
        <div class="container-md d-flex justify-content-center h-100">
            <div class="w-50">
                <div class="row align-items-center">
                    <div class="col-xl-6 d-flex justify-content-center">
                        <img class="rounded-circle bg-white" src="assets/profile.JPG">
                    </div>

                    <div class="col-xl-6 d-grid gap-3 justify-content-center">

                        <h1 class="d-flex justify-content-center">{{title}}</h1>
                        <h2 class="d-flex justify-content-center">{{my}}</h2>
                        <h3 class="d-flex justify-content-center">{{name}}</h3>

                        <div class="d-flex justify-content-center">
                            <button mat-raised-button class="button" [routerLink]="['/aboutme']">Who am i</button>
                        </div>

                        <div class="d-flex justify-content-center  gap-3 w-100">
                            <a href="https://www.facebook.com/jeniphan.pukkham">

                                <fa-icon [icon]="facebook"></fa-icon>

                            </a>
                            <a href="https://github.com/Jeniphan">

                                <fa-icon [icon]="github"></fa-icon>

                            </a>
                            <a href="https://www.instagram.com/jetniphan_pk/">

                                <fa-icon [icon]="ig"></fa-icon>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    Copyright © Jetniphan Pukkham. All right reserved.
</footer>