.image {
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.name {
    text-align: center;
}

.contents {
    margin-top: 1rem;
}

.imge-ed,
.imge-ex,
.imge-es,
.imge-per,
.imge-ct {
    width: 35px;
    height: 35px;
}

.imge-ct-d {
    width: 20px;
    height: 20px;
}

.detail-ct {
    margin-top: 15px
}

h2 {
    margin-bottom: 0;
}

.name h1,
h3,
h4 {
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
}

.text-ed,
.text-ex,
.text-sk,
.text-per,
.text-ct {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
}

.content-ed,
.content-ex,
.content-sk,
.content-per,
.content-ct,
.content-profile {
    width: 80%
}

.color-icon {
    color: #0000005c;
}

.date,
.name-p {
    margin-left: 1rem;
}

.top-icon {
    margin-top: 13px;
}

.univer,
.h-school,
.who,
.work-ex,
.developer {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
}

.univer-data,
.school-data,
.two-b,
.development {
    margin-left: 1rem;
}

.divi {
    margin-top: 8px;
}

.two-b1 {
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.box-ex {
    margin-top: 1.5rem;
}

.personal,
.educat,
.exprerience,
.skills,
.contact {
    margin-top: 1rem;
}

.footer {
    margin-top: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

@media screen and (max-width:480px) {
    .image {
        border-radius: 50%;
        object-fit: cover;
        height: 150px;
        width: 150px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    }
    .top-icon {
        margin-top: 13px;
        display: flex !important;
        align-items: flex-start !important;
    }
}