.header-dark {
    background-color: #212838;
    color: #fff;
}

.header-light {
    background-color: #0d6efd;
    color: #111827 !important;
}

.title h1 {
    color: #fff
}

ul.menu {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    list-style: none;
    padding: 0;
    float: right;
}

.menu {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    padding: 0;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}

ul.menu li a:hover {
    border-bottom: 2px solid #c1baba;
    padding-bottom: 0px;
}

.hero {
    padding-top: 70px;
}

.main {
    padding-top: 120px;
    background-color: #111827;
    color: #fff;
}

.maindark {
    padding-top: 120px;
    background-color: rgb(233, 233, 233);
    color: black;
}

a {
    text-decoration: none;
}

.main span {
    color: rgb(255 255 255 / 60%)
}

.main p {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #fff;
}

.maindark p {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #111827;
}

.image {
    border-radius: 50%;
    border: 10px solid #a2af5f;
    padding: 10px;
    object-fit: cover;
    background-clip: content-box;
    height: 250px;
    width: 250px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

.ic-button {
    width: 20px;
    height: 20px;
}

.buttom-list,
.list-mobile {
    display: none !important;
}

.dark-icon {
    background-color: rgb(0 0 0 / 0%);
    width: 25px;
    height: 25px;
    color: #fff !important;
}

.btn-outline-primary {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(0, 0, 0, 0) !important;
}

.btn-outline-primary:hover {
    background-color: unset;
}

.name {
    text-align: center;
}

.contents {
    margin-top: 1rem;
}

.imge-ed,
.imge-ex,
.imge-es,
.imge-per,
.imge-ct {
    width: 35px;
    height: 35px;
}

.imge-ct-d {
    width: 40px;
    height: 40px;
}

.detail-ct {
    margin-top: 15px
}

h2 {
    margin-bottom: 0;
}

.name h1,
h3,
h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.text-ed,
.text-ex,
.text-sk,
.text-per,
.text-ct {
    margin: 0;
    text-transform: uppercase;
}

.content-ed,
.content-ex,
.content-sk,
.content-per,
.content-ct,
.content-profile {
    width: 80%
}

.date,
.name-p {
    margin-left: 1rem;
}

.top-icon {
    margin-top: 13px;
}

ion-icon {
    width: 20px;
    height: 20px;
}

.univer,
.h-school,
.who,
.work-ex,
.developer {
    text-transform: uppercase;
}

.univer-data,
.school-data,
.two-b,
.development {
    margin-left: 1rem;
}

.divi {
    margin-top: 8px;
}

.mat-divider {
    border-top-color: #747373;
}

.two-b1 {
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.box-ex {
    margin-top: 1.5rem;
}

.personal,
.educat,
.exprerience,
.skills {
    margin-top: 1rem;
}

.contact {
    margin: 1rem 0 5rem 0;
}

.footer-dark {
    background-color: #212838;
    margin-top: 1rem;
    margin-bottom: 10px;
    text-align: center;
    text-justify: center;
}

.footer-light {
    background-color: #0d6efd;
    margin-top: 1rem;
    margin-bottom: 10px;
    text-align: center;
    text-justify: center;
}

.ml {
    height: 150px;
    padding-top: 65px;
}

.ml h1,
.ml span {
    color: #fff
}

.tl {
    padding: 0 100px 0 100px;
}

.tl a {
    color: #fff;
}

.icon-footer ion-icon {
    color: #fff !important;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
}

.copy {
    color: #fff !important;
    height: 50px;
    margin-top: 20px;
}

@media screen and (max-width:480px) {
    .image {
        border-radius: 50%;
        border: 5px solid #a2af5f;
        padding: 5px;
        object-fit: cover;
        background-clip: content-box;
        height: 150px;
        width: 150px;
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
    }
    .top-icon {
        margin-top: 13px;
        display: flex !important;
        align-items: flex-start !important;
    }
    .hero {
        padding-top: 60px;
    }
    .menu,
    .dark {
        display: none !important;
    }
    .buttom-list {
        display: unset !important;
    }
     ::ng-deep .list-menu-dark {
        background-color: #111827 !important;
    }
     ::ng-deep .list-menu-light {
        background-color: #fff !important;
    }
    .menu-font-light {
        color: #111827 !important;
    }
    .menu-font-dark {
        color: #fff !important;
    }
}