<router-outlet></router-outlet>

<ng-particles [id]="id" [options]="particles" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)">
</ng-particles>
<div class="row h-100 d-flex align-items-center">
    <div class="d-flex justify-content-center">
        <mat-card class="d-flex flex-row bk">
            <div class="d-flex align-items-center">
                <div class="col">
                    <img class="avatar rounded-circle bg-white" src="assets/profile.JPG" class="avatar" alt="">
                </div>

                <div class="vl"></div>

                <div class="col magin-div">
                    <div class="">
                        <p class="my-font">{{title}}</p>
                    </div>

                    <div class="magin-font">
                        <p class="my-font-my">{{my}}</p>
                    </div>

                    <div class="magin-font">
                        <p class="my-font-name">{{name}}</p>
                    </div>

                    <div class="w-100 padding">
                        <button mat-raised-button class="button">WHO AM I</button>
                    </div>
                    <div class="d-flex flex-row magin-icon">
                        <div class=" col-md-4">
                            <a href="https://www.facebook.com/jeniphan.pukkham">
                                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                    <fa-icon [icon]="facebook" class="fa-icon"></fa-icon>
                                </button>
                            </a>
                        </div>

                        <div class=" col-md-4">
                            <a href="https://github.com/Jeniphan">
                                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                    <fa-icon [icon]="github" class="fa-icon"></fa-icon>
                                </button>
                            </a>
                        </div>

                        <div class=" col-md-4">
                            <a href="https://www.instagram.com/jetniphan_pk/">
                                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                    <fa-icon [icon]="ig" class="fa-icon"></fa-icon>
                                </button>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>